.activity-bg{
    
}
.activity-img{
    margin-top:-30%;
    width:200px;
    height: 240px;
    border:1px solid gray;
    border-radius:10px;
    margin: 10px;
    float:left;
    cursor: pointer;
}
.description{
    border-radius:0px 0px 10px 10px;
    width:199px;
    height: 39px;
    
    text-align: center;
}

